:vars {
    --foreground: rgb(255, 255, 255);
    --background: rgb(26, 28, 30);
    --border-color: rgb(42, 43, 45);
    --button-color: var(--border-color);
}

* {
    all: unset;
    /* transition: color 0.5s ease;
    color: alpha(var(--foreground), 0.8);
    font-family: "Jost*", sans-serif;
    font-weight: 700; */
}

.img {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
}

.selected-image {
    opacity: 0.5;
}

.selected-screen {
    opacity: 0.5;
}

#outer-box {
    background-image: url("./images/fantasy-woods.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wallpaper-settings {
    all: unset;
    background-color: white;
}