:vars {
    --background: {{ background_color }};
    --selected-image: {{ background_selected_image }};
    --selected-screen: {{ background_selected_screen }};
    --pagination-background: {{ pagination_background_color }};
    --pagination: {{ pagination_color }};
    --pagination-border: {{ pagination_border_color }};
    --pagination-hover-background: {{ pagination_hover_background_color }};
    --pagination-hover-color: {{ pagination_hover_color }};
    --pagination-selected-background: {{ pagination_selected_background_color }};
    --pagination-selected: {{ pagination_selected_color }};
    --pagination-selected-border: {{ pagination_selected_border }};
    --pagination-disabled-background: {{ pagination_disabled_background_color }};
    --pagination-disabled: {{ pagination_disabled_color }};
    --pagination-disabled-border: {{ pagination_disabled_border }};
}

 * {
    all: unset;
}


/* Pagination container */
.pagination {
    margin: 20px 0;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}

/* General button styles */
.pagination-button {
    background-color: var(--pagination-background);
    color: var(--pagination);
    border: 1px solid var(---pagination-border);
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover effect for buttons */
#pagination button:hover {
    background-color: var(--pagination-hover-background);
    color: var(--pagination-hover-color);
}

/* Active page button */
.pagination-selected-page {
    background-color: var(--pagination-selected-background);
    color: var(--pagination-selected);
    border-color: var(--pagination-selected-border);
    font-weight: bold;
}

/* Disabled buttons */
.pagination-disabled {
    background-color: var(--pagination-disabled-background);
    color: var(--pagination-disabled);
    border-color: var(--pagination-disabled-borde);
}


.img {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected-image {
    background-color: var(--selected-image);
}

.selected-screen {
    background-color: var(--selected-screen);
}

.background-img {
    background-image: url( '{{ background_img }}' );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-color {
    background: var(--background);
}
