.workspaces {
    background: rgba(255, 255, 255, 0.3);
}

.workspace-group {
    margin-top: 30px;
}

.input {
    color: white;
    border-radius: 0;
    border: 0 solid white;
    border-bottom: 3px solid white;
    background: transparent;
    margin-bottom: 5px;
}
